.mainContainerPlaces{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    
}

.subcontainer{
    display: flex;
    flex-direction: column;
    background-color: #ffffff6c;
    height: 100%;
    width: 60%;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
}



.placeTitle, .titlePlaces, .inputTitle, .inputDesc{
    font-family: 'Poetsen One', sans-serif;
}

.titlePlaces{
    font-size: 2rem;
    margin-bottom: 20px;
}

.inputTitle, .inputDesc{
    font-size: 1.2rem;
    border: 2px solid var(--cor_2, #D76A00);
    margin-bottom: 10px;
}

.inputTitle:focus, .inputDesc:focus{
    outline: none; 
}

.placeTitle{
    margin-top: 40px;
    margin-bottom: 40px;
}

.inputTitle, .inputDesc{
    width: 90%;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
}


.inputDesc{
    height: 100px;
}

.inputFile{
    border-radius: 15px;
    padding: 10px; 
}


.inputTitle,.inputDesc, .inputFile{
    margin-bottom: 5vh;
}

.cadastrar{
    padding: 8px;
}

