html {
  font-size: initial;
}
.table-container {
  margin: 16px;
}
table {
  width: 50%;
  border-collapse: collapse;
  margin: 16px;
}

th {
  background-color: #f2f2f2;
  border: 2px solid #dddddd;
  padding: 8px;
  text-align: left;
}

td {
  border: 2px solid #dddddd;
  padding: 8px;
}
