.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px;
  justify-content: center; 
  height: 90vh;
  font-family: PoetsenOne;
}
h1 {
  display: flex;
  justify-content: center;
  margin: 30px;
  font-family: PoetsenOne;
  font-weight: 400;
  font-size: 31.5px;
}
input {
  border: 2px solid #d76a00;
  box-shadow: none;
  background-color: #ffffff;
  font-size: 14px;
}
.icon-input {
  padding-right: 8px;
}
.icon {
  padding-right: 16px;
}
label {
  display: flex;
  padding: 8px;
  padding-left: 38px;
  font-size: 14px;
}
.style-button {
  display: flex;
  padding-right: 20px;
}
.style-button button {
  width: 140px;
}
