.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: PoetsenOne;
}

h1 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #000;
  text-align: center;
  font-size: 31.5px;
}

.input-container label {
  margin-bottom: 5px;
}

.icon-input {
  padding-right: 8px;
  margin-bottom: 10px;
}

.icon {
  padding-right: 16px;
}

.icon-input input {
  width: 350px;
}

label {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #000;
  display: flex;
  padding: 8px;
  padding-left: 38px;
  font-size: 14px;
}

.style-button {
  display: flex;
  padding-right: 22px;
}

.style-button button {
  width: 140px;
}

.back-to-home-button{
  display: flex;
  justify-content: center;
  margin: 10px 22px 20px 0;
  width: unset; 
}

.back-to-home-button button {
  width: 350px; 
}
